<section id class="page-header">
	<h1>Trevor</h1>
	<h3>Il peut tout faire à votre place même les taches les plus ingrates !</h3>
</section>

<div class="container">
	<h2>Etat ampoule</h2>
	<section id="bulb" >
		<p>Nom de la lampe : <%= @nom_lampe %></p>
		<p>Etat : <%= @etat %> </p>
	</section>
</div>

