<section id class="text-center page-header">
	<h1>Trevor</h1>
	<section>Il peut tout faire à votre place même les taches les plus ingrates !</section>
	<div id="hello" class="hidden">Hello !!!</div>
	<section class="fitbit">
		<%= @fitbit %>
	</section>
</section>


